* {
    margin: 0;
    font-family: Lato, sans-serif;
    color: white;
    font-weight: 400;
}

body{
    background-color: #23252C;
}

.name{
    color: #918E9B;
    font-size: 3em;
}

.App{
    text-align: left;
    background: #1A1B21;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2{
    font-weight: bold;
}

h2{
    margin-left: 10px;
    margin-right: 10px;
}

.side{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img{
    width: 20%;
    display: flex;
    flex-direction: column;
}

h1, h2{
    text-align: center;
    margin-bottom: 10px;
}

.foto{
    width: 100%;
    border-radius: 10px;
    text-align: left;
    margin-left: auto;
}

.info-container{
    display: flex;
}

.about-text, .technical-text{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.icon-container{
    display: flex;
    font-weight: 500;
    align-items: center;
}

.mail{
    background-color: white;
    color: black;
    border-radius: 3px;
    width: 25%;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.linkedin{
    background-color: #5093E2;
    border-radius: 3px;
    width: 25%;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.github{
    background-color: #6e5494;
    border-radius: 3px;
    width: 25%;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.icon-img{
    margin-right: 8px;
}

a{
    text-decoration: none;
}

.company, .sub-technical{
    color: #F3BF99;
}

.prof-text{
    text-align: left;
    margin-left: 20px;
}

.about-container, .education-container, .icon-container, .interests-container, .professional-container, .technical-container, .skills-container{
    padding-top: 10px;
}

.skills-container{
    padding-bottom: 20px;
}

.info-container{
    margin-bottom: 20px;
}

.name, .course, .location{
    text-align: left;
    margin-left: 20px;
}

li{
    text-align: left;
    padding: 5px;
}

.univ1, .univ2, .hs{
    align-self: flex-start;
    margin-left: 20px;
}

.educ-item{
    display: flex;
}

.period{
    margin-left: auto;
    margin-right: 20px;
}

hr{
    margin-top: 10px;
    border-color: #1a1b211d;
    border-width: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.togg-container{
    text-align: right;
    margin: 10px 20px 0 0;
}

@media (max-width:952px){
    .App{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .name{
        font-size: 1.7em;
        align-self: flex-start;
    }
    .foto{
        border-radius: 0px;
        border-top-right-radius: 10px;
    }
    .location{
        align-self: flex-start;
    }
}